/* General Settings */

body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    opacity: 0.9;
    color: seashell;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

/* Header */

header{
    display: flex;
    align-items: center;
    z-index: 1;
    height: 69px;
    position: fixed;
    border-bottom: 1px solid seashell;
    background-color: black;
    width: 100%;
}

nav {
    display: inline-block;
    text-align: right;
    flex-grow: 1;
}

nav span{
    display: inline-block;
    padding: 25px 20px 25px 10px;
}

header nav a{
    color: seashell;
    text-decoration: underline;
    
}

.logo{
    margin-left: 10px;
    height: 50px;
}

/* Headers */

h2, h3, h4{
    margin: 0;
    padding: 10px;
}

h5{
    text-align: left;
}

/* Main*/

/* Mission */

.mission{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 700px;
    width: 1200px;
    background-image: url("../img/img-mission-background.jpg");
    background-repeat: no-repeat;
    margin-top: 70px;
    
}

.mission-middle {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.text-content.mission-middle{
    margin-top: 280px;
    background-color: black;
    display: block;
    height: 106px;
}

.text-content.mission-middle h2{
    width: 1200px;
    
}

.text-content.mission-middle h4{
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Gallery */

#tea-month{
    margin-top: 70px;
    
    width: 1000px;
}

.text-content{
    text-align: center;
}

#gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

.gallery img{
    height: 200px;
    
   margin: 10px 15px 0 10px;
    
    
}


/* Locations */

#locations{
    width: 1200px;
    height: 500px;
    background-image: url("../img/img-locations-background.jpg");
    background-repeat: no-repeat;
    margin-top: 60px;
    padding-top: 50px;
}

.location{
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location-block{
    display: flex;
    flex-basis: 280px;
    flex-direction: column;
    justify-content: center;
    width: 1100px;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
   
}

.location-block h3, #locations p{
    text-align: center;
}

/* Contact Section */

#contact{
    display: block;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}

#contact h2, #contact h5{
    text-align: center;
}

/* Footer */

footer{
    text-align: left;
    margin-left: 20px;
}